html,
body {
  background: rgb(33, 33, 33);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
}
#header {
  display: flex; /* Should be hidden in JS if inside iframe */
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 4em;
  border-bottom: 1px solid #ff0;
  margin-bottom: 12px;
}
.links {
  display: flex;
  gap: 28px;
  list-style: none;
}
.links a {
  color: white;
  text-decoration: none;
}
#wrapper {
  /* 100% - (header height + margin + border) */
  height: calc(100vh - 4em - 12px - 1px);
}
#monaco-editor-root {
  height: 60%;
}
#editor-actions {
  position: absolute;
  right: 140px;
  z-index: 6;
}
#copy-code {
  font-size: 2em;
  background: transparent;
  border: 0;
  opacity: 0.5;
}
#copy-code:hover {
  opacity: 1;
}
#actions {
  height: 40%;
  overflow: auto;
  padding: 20px 32px;
  box-sizing: border-box;
}
#main-input {
  min-width: 25em;
  height: 1.75em;
  margin-right: 10px;
  font-size: 1em;
  border-radius: 5px;
  padding: 5px 10px;
}
#actions button {
  margin-right: 10px;
  padding: 10px;
  background: rebeccapurple;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
#result {
  padding: 20px 0;
}
